{% extends 'base.html' %}
{% block content %}
<div class="p-3">
  <div class="container">
    <div class="row mt-3">
      <div class="col mx-auto mb-3">
        <h2>Edit Income</h2>
        <form method="POST">
          {% csrf_token %}
          <label for="income_amount">New Amount:</label>
          <input type="number" name="income_amount" id="income_amount" step="0.01" value="{{ income.amount }}">

          <div class="text-start">
            <button type="submit" class="btn bg-dark text-white">Save Changes</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock content %}